.t1 {
  background-image: url('https://images.pexels.com/photos/1044990/pexels-photo-1044990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: white;
  padding: 100px;
}

.elements {
  color: rgb(190, 49, 6);
  font-family: georgia;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 35px;
}

.authorimg {
  width: 150px;
  height: auto;
  float: right;
  border: dotted black;
}

.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: contain;
}