.t1 {
  background-image: url('https://images.pexels.com/photos/1044990/pexels-photo-1044990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  color: white;
  padding: 100px;
}

.margin {
  margin: 10px;
}

.padding {
  padding: 35px;
}

.authorimg {
  width: 300px;
  height: auto;
}

.card-img-top {
  width: 200px;
  height: 200px;
  object-fit: contain;
  
}

.green {
  color: #047522;
}

.orange {
  color: #f77a05;
}

.red{
  color: #cf0408;
}

.blue {
 color: #0232ad;
}




